<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.house.keeping.service.mapper.UserMapper">
    <select id="findByOpenId" resultType="com.house.keeping.service.entity.UserEntity">
        SELECT * FROM user
        <where>
            <if test="openId != null and openId != ''">
                AND open_id = #{openId}
            </if>
        </where>
    </select>
</mapper>